################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Salacia_Terminal/.vs
/Salacia_Terminal/out/
/Salacia_Terminal/Salacia_Terminal.slnx
/Salacia_Terminal/.zcode/
/Salacia_Terminal/models/
/Salacia_Terminal/logs/
/.vs
*.obj

# ROV_M33 本地缓存与构建产物
/ROV_M33/.vs/
/ROV_M33/STM32CubeIDE/CM33/NonSecure/CA35TDCID_m33_ns_sign/
__pycache__/
*.pyc
